body{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
 
/*header container style stsrt*/
.menu-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.header-title{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    list-style: none;
    padding:10px ;
}
.menu .item{
    margin-right: 5px;
}
.menu .list-item{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}
/*header container style end*/
/*banner container style*/
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 25px;
}
.banner-header{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 10px;
}
.banner-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}
.banner-title{
    max-width: 50%;
}
.bg-primary{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    padding: 8px 10px;
}
.banner-image{
    background-color: rgb(250, 245, 250);
    border-radius: 50%;
    border: 1px solid rgb(216, 174, 216);
    max-width: 50%;
}
.banner-image img{
    height: 200px;
    width: 200px;
}

.fa-solid.fa-arrow-right {
    padding-left: 6px;
    color: #fff;
}
/*banner container style*/

/*brand container style*/

.sponsor-section{
    max-width: 80%;
    margin:40px auto 70px;
    border-top: 0.1rem solid rgb(238, 236, 236);
    border-bottom: 0.1rem solid rgb(228, 225, 225);
    padding: 15px 0;
}
.sponsor-section img{
    margin-left: 85px;
    width: 50px;
}
/*main-header design start*/
.main-header{
    text-align: center;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px; /* 250% */
}
.cards-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 180px;
}
.product-item{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}
.product-item img{
    width: 100%;
}
.card-title{
    color:  #18191F;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0;
}
.card-des{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 50%; /* 36px */
}
.price{
    color: #5E6366;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px; /* 157.143% */
    letter-spacing: 0.1px;
}
.fa-star{
    color: #FB8200;
}
.card-details{
    color: #787885;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%; /* 20.02px */
    letter-spacing: 0.252px;
}
.see-more{
    max-width: 1200px;
    height: 10px;
    margin: auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 60px;
}
.see-more button{
    position: absolute;
    right: 106px;
    border: none;
    background: none;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    }
    .fa-solid.fa-arrow-right.array-right{
        color: rgba(224, 44, 109, 0.87);
    }

/*main-header design start*/
.featured-section{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px 130px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.featured-image{
    width: 50%;
    padding-left:60px ;
}
.featured-content{
    width: 50%;
    padding: 0 27px 0 0;
}
.feature-header{
    color: #0A0826;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px; 
}
.feature-description{
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.bgs-primary{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    background: #E02C6D;
    border: none;
    padding: 8px 18px
}


.footer-section{
    text-align: center;
    background: #0A0826;
    color: #fff;
    padding: 40px 0;
}
.header-footer{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.footer-description{
    color:#D9DBE1;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}
.icon-section, .fa-brands{
    margin: 0 10px;
}
/*brand container style*/